@model AspNetCoreFactory.CQRS.Core.Areas.Seat.List.Result
@{
    ViewBag.Title = "Seats";
}

<partial name="_AdminMenu" />

<h4>Seats</h4>

<form>
    <div class="row border rounded bg-light pt-15 px-15 pb-5">

        <div class="col-5">
            <div class="form-group row">
                <label for="PlaneId" class="col-sm-5 col-form-label text-right">Filter by Plane</label>
                <div class="col-sm-7">
                    <select asp-for="PlaneId" asp-items="Lookup.PlaneItems" class="form-control"></select>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group row">
                <div class="col-sm-12 clearfix">
                    <div class="pull-left" style="padding:3px 0 0 0;">
                        <button id="Filter" class="btn btn-light btn-sm" type="submit">&nbsp;&nbsp; Filter &nbsp;&nbsp;</button>&nbsp;&nbsp;
                        <a href="/admin/seats" class="btn btn-light btn-sm">&nbsp; Reset &nbsp;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<table class="table table-list table-sm table-hover mt-30">
    <tr>
        <th class="table-list-actions no-hover">
            <a class="btn btn-xs btn-light" href="/admin/seats/edit">New Seat</a>
        </th>
        <th>Plane</th>
        <th>Number</th>
        <th>Location</th>
        <th class="text-center">Bookings</th>
    </tr>

    @if (Model.Seats.Count() == 0)
    {
        <tr><td colspan="5"><div class="no-items">No items to display</div></td></tr>
    }

    @foreach (var seat in Model.Seats)
    {
        <tr>
            <td>
                <form method="post" action="/admin/seats/delete" asp-antiforgery="true">
                    <input type="hidden" asp-for="@seat.Id" name="Id" />
                    <a class='btn btn-xs btn-light' href="/admin/seats/edit/@seat.Id">Edit</a>&nbsp;
                    <button type="submit" class='btn btn-xs btn-light @(seat.TotalBookings > 0 ? "disabled" : "")'>Delete</button>
                </form>
            </td>
            <td>@seat.Plane</td>
            <td>@seat.Number</td>
            <td>@seat.Location</td>
            <td class="text-center">@seat.TotalBookings</td>
        </tr>
    }
</table>

<div class="height-50"></div>